<div id="push"></div>
<footer class="footer navbar-fixed-bottom">
  <div class="container">
    <nav>
      <ul>
        Desenvolvido por João Pedro Martins e William Almeida
      </ul>
    </nav>
  </div>
</footer>
