<!DOCTYPE html>
<html>
  <head>
    <title>ForumCSGO</title>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>

  </head>

  <body>
        <p class="flash", align="center"><%= flash.notice %></p>
        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <%= link_to "FORUMCSGO", root_url, class: "navbar-brand" %>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li>
                            <%= link_to "Ver tópicos", articles_path %>
                        </li>
                        <li>
                          <% if !user_signed_in? %>
                            <li><%= link_to "Entrar", new_user_session_path %></li>
                            <% end %>
                        </li>
                        <li>
                            <% if !user_signed_in? %>
                            <li><%= link_to "Cadastro", new_user_registration_path %></li>
                            <% end %>
                        </li>
                        <li>
                            <% if user_signed_in? %>
                            <li><%= link_to "Usuários", control_users_index_path %></li>
                            <% end %>
                        </li>
                        <li>
                            <% if user_signed_in? %>
                            <li><%= link_to "Sair", destroy_user_session_path, method: :delete %></li>
                            <% end %>
                        </li>
                        <li>
                            <% if user_signed_in? %>
                            <li><%= link_to "Painel de controle", edit_user_registration_path %></li>
                            <% end %>
                        </li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container -->
        </nav>

        <!-- Page Content -->
        <div class="container">

            <div class="row">
                <div class="col-lg-12 text-center">
                  <%= yield %>


                </div>
            </div>
            <!-- /.row -->

        </div>

        <!-- /.container -->

        <style>body{padding-top:70px}</style>
        <!-- jQuery Version 1.11.1 -->
        <script src="js/jquery.js"></script>

        <!-- Bootstrap Core JavaScript -->
        <script src="js/bootstrap.min.js"></script>
        <%= render 'layouts/footer' %>


    </body>



    </html>
