<h1>Controle de Usuarios</h1>

<table align="center">
  <thread>
    <tr>
      <th align="center">ID</th>
      <th align="center">Email</th>
      <th align="center">Funcao</th>
    </tr>
  </thread>

  <tbody>
    <% @users.each do |user| %>
    <tr>
      <td width="100", align="left"><%= user.id %></td>
      <td width="200", align="left"><%= user.email %></td>
      <td width="200", align="left"><%= user.role %></td>



    </tr>
  <% end %>
  </tbody>
</table>
