<h1 align="center">Tópicos</h1>

<ul id="articles">
  <% @articles.each do |article| %>
    <li>
      <%= link_to article.title, article_path(article) %>
    </li>
  <% end %>
</ul>

<%= link_to "Criar um novo tópico", new_article_path, class: "new_article" %>
