<h1>Criar um novo artigo</h1>

<%= form_for(@article) do |f| %>
  <ul>
  <% @article.errors.full_messages.each do |error| %>
    <li><%= error %></li>
  <% end %>
  </ul>
  <p>
    <%= f.label :title, "Título do tópico" %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :body, "Texto" %><br />
    <%= f.text_area :body %>
  </p>
  <p>
    <%= f.submit "Criar tópico"%>
  </p>
<% end %>
