<h1><%= @article.title %></h1>
<p><%= @article.body %></p>
<p><%= @article.username %></p>
<p><%= @article.date %></p>

<% if policy(@article).index? %>
<%= link_to "Deletar", article_path(@article), method: :delete, data: {confirm: "Deseja deletar o post?"}%>
<% end %>
<% if (policy(@article).index?) || current_user == @article.username%>
<%= link_to "Editar", edit_article_path(@article) %>
<% end %>
<%= render 'comments/form' %>
<h3>Comentarios (<%= @article.comments.size %>)</h3>
<%= render @article.comments %>
