<div>
  <h4>Comentario feito por <%= comment.author_name %></h4>
  <p class="comment"><%= comment.body %></p>
</div>
<% if policy(@article).index? || current_user == @article.username %>
<p><%= link_to 'Delete', [comment.article, comment], method: :delete, data: { confirm: 'Are you sure?'} %></p>
<% end %>
