<h3>Poste um comentario</h3>

<%= form_for([@article,@article.comments.build]) do |f| %>


    <p>
      <%= f.label :body, "Texto" %><br/>
      <%= f.text_area :body %>
    </p>
      <%= f.submit 'Enviar' %>
    </p>
<% end %>
