<h1>Página Inicial</h1>

<% if user_signed_in? %>
<body>
<font size="5">Seja bem-vindo <%= current_user.username %></font>
<p><img src="csgo.png" style="width:800px;height:400px;"></p>
</body>
<% else %>
<body>
<font size="5">Seja bem-vindo visitante</font>
</body>
<% end %>
